<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header(templateTitle='inicio')}">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <div class="jumbotron bg-light p-5 rounded">
        <h1 class="display-4">Bienvenido al Sistema de Biblioteca</h1>
        <p class="lead">Gestiona usuarios, libros, revistas, DVDs y préstamos de manera eficiente.</p>
        <hr class="my-4">
        <p>Utiliza el menú de navegación para acceder a las diferentes secciones del sistema.</p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>